# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Infected

# Balance (default profile)
on property:persist.spectrum.profile=0
    # Add configs here
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 10
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ms 500
    write /dev/stune/top-app/schedtune.sched_boost 0
    write /dev/stune/foreground/schedtune.sched_boost 1
    write /dev/stune/background/schedtune.sched_boost 1
    write /dev/stune/rt/schedtune.sched_boost 1
    wrtie /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz 

# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1
    # Add configs here
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ms 500
    write /dev/stune/top-app/schedtune.sched_boost 0
    write /dev/stune/foreground/schedtune.sched_boost 1
    write /dev/stune/background/schedtune.sched_boost 1
    write /dev/stune/rt/schedtune.sched_boost 1
    wrtie /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz 

# Battery
on property:persist.spectrum.profile=2
    # Add configs here
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 0
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ms 0
    write /dev/stune/top-app/schedtune.sched_boost 0
    write /dev/stune/foreground/schedtune.sched_boost 0
    write /dev/stune/background/schedtune.sched_boost 0
    write /dev/stune/rt/schedtune.sched_boost 0
    wrtie /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave 

# Gaming
on property:persist.spectrum.profile=3
    # Add configs here
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ms 800
    write /dev/stune/top-app/schedtune.sched_boost 0
    write /dev/stune/foreground/schedtune.sched_boost 1
    write /dev/stune/background/schedtune.sched_boost 1
    write /dev/stune/rt/schedtune.sched_boost 1
    wrtie /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
